<!DOCTYPE html>
<html>
     <%if user_signed_in?%>
        <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout-link" %> 
      <% else %>
 
      <%end%>
  <div class='main'> 
  
    <div class='left'>
    
      <div class='left-row'>診察中の番号</div>
        <div class='now'>
          <%if @now.present?%>
            <div class='now-number1'>
              <%= @now.number%>
            </div>
            <div class='now-number2'>番</div>
          <%else%>
            <div class='now-wait'>
              <div class='now-wait1'>番号が表示されるまで</div>
              <div class='now-wait2'>お待ちください</div>
            </div>
            <%end%>
        </div>
        <div class='now-name'>
         <%if @now.present?%>
            <div class='now-name-row'>
              <%= @now.name%>  様
            </div>
          <%end%>
        </div>

        <div class='count'>
          <div class='count-num'>お待ち人数</div>
            <div class='num'>
              <%=@wait_people%> 
            </div>
          <div class='count-num'>人</div>
            <div class='count-num'>不在人数</div>
            <div class='num'>
              <%=@absence_people%>
            </div>
          <div class='count-num'>人</div>

    </div>

      </div>
    
    <div class="right">
      <div class='link-area'>
        <%if user_signed_in?%>
          <%= link_to '番号を発行する', new_turn_path, class: 'issue-link' %>
        <% else %>
          <%= link_to 'ログイン', new_user_session_path, class: "login-link" %>
        <%end%>
      </div>
      <div class='right-row'>
        <div class="table">
          <div class='th'>待ち番号</div>
            
            <% @wait.each do |wait|%>
              <div class="tr">
                <div class='td1'><%= link_to "#{wait.number}番", turn_path(wait.id) %></div>
                <div class='td2'><%= wait.name%>様</div>
              </div>
            <%end%>
        </div>


        <div class="table">
          <div class='th'>不在番号</div>
          <div class='td'>
            <% @absence.each do |absence|%>
              <div class="tr">
                <div class='td1'><%= link_to "#{absence.number}番", turn_path(absence.id) %></div>
                <div class='td2'><%= absence.name%>様</div>
              </div>
            <%end%>
            </div>
        </div>
      </div>
      </div>

</div>
  </div>
  </html>