<!DOCTYPE html>
<html>
     <%if user_signed_in?%>
        <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout-link" %> 
      <% else %>
 
      <%end%>
  <div class='main'> 
  
    <div class='left'>
    
      <div class='left-row'>診察中の番号</div>
        <div class='now'>
          <% if @now.present? %>
            <div class='now-number1'>
              <%= @now.number%>
            </div>
            <div class='now-number2'>番</div>
          <% else %>
            <div class='now-wait'>
              <div class='now-wait1'>番号が表示されるまで</div>
              <div class='now-wait2'>お待ちください</div>
            </div>
            <%end%>
          <% if (user_signed_in? && current_user.admin?) && @now.present? %>
              <%= button_to '終了', turn_path(@now.id), method: :put, class: "button", params: {status: '3'}, remote: true %>
              <%= button_to '待ち', turn_path(@now.id), method: :put, class: "button", params: {status: '0'}, remote: true %>
              <%= button_to '不在', turn_path(@now.id), method: :put, class: "button", params: {status: '2'}, remote: true %>
            <%end%>
        </div>
        <div class='now-name'>
         <% if @now.present? %>
            <div class='now-name-row'>
              <%= @now.name%>  様
            </div>
          <%end%>
        </div>
        <div class='count'>
          <div class='count-num'>お待ち人数</div>
            <div class='num'>
              <%=@wait_people%> 
            </div>
          <div class='count-num'>人</div>
            <div class='count-num'>不在人数</div>
            <div class='num'>
              <%=@absence_people%>
            </div>
          <div class='count-num'>人</div>
        </div>
      </div>
    
    <div class="right">
      <div class='link-area'>
        <%if user_signed_in?%>
          <%= link_to '番号を発行する', new_turn_path, class: 'issue-link' %>
        <% else %>
          <%= link_to 'ログイン', new_user_session_path, class: "login-link" %>
        <%end%>
      </div>
      <div class='right-row'>
        <div class="table">
          <div class='th'>待ち番号</div>
            
            <% @wait.each do |wait|%>
              <div class="tr">
                <div class='td1'><%= link_to "#{wait.number}番", turn_path(wait.id) %></div>
                <div class='td2'><%= wait.name%>様</div>
              </div>
              <div class="btn">
                <% if user_signed_in? && current_user.admin? %>
                  <div class='td'>
                    <%= button_to '診察', turn_path(wait.id), method: :put, class: "button", params: {status: '1'}, remote: true %>
                  </div>
                  <div class='td'>
                    <%= button_to '不在', turn_path(wait.id), method: :put, class: "button", params: {status: '2'}, remote: true %>
                  </div>
                  <div class='td'>
                    <%= button_to '終了', turn_path(wait.id), method: :put, class: "button", params: {status: '3'}, remote: true %>
                  </div>
                <%end%>
              </div>
            <%end%>
        </div>


        <div class="table">
          <div class='th'>不在番号</div>
          <div class='td'>
            <% @absence.each do |absence|%>
              <div class="tr">
                <div class='td1'><%= link_to "#{absence.number}番", turn_path(absence.id) %></div>
                <div class='td2'><%= absence.name%>様</div>
              </div>
              <div class="btn">
                <% if user_signed_in? && current_user.admin? %>
                  <div class='td'>
                    <%= button_to '診察', turn_path(absence.id), method: :put, class: "button", params: {status: '1'}, remote: true %>
                  </div>
                  <div class='td'>
                    <%= button_to '待ち', turn_path(absence.id), method: :put, class: "button", params: {status: '0'}, remote: true %>
                  </div>
                  <div class='td'>
                    <%= button_to '終了', turn_path(absence.id), method: :put, class: "button", params: {status: '3'}, remote: true %>
                  </div>
                <%end%>
              </div>
            <%end%>
            </div>
        </div>
      </div>
      </div>
    </div>

  </div>
  </html>