<div class='main'> 
 <% if @now.present? %>
    <h1>診察中の番号</h1>
    <div class='now'>
      <div class='now-number'>
        <%= @now.number%>
      </div>
      <div class='now-number2'>
        <span>番</span>
      </div>
      <%= button_to '終了', turn_path(@now.id), method: :put, class: "button", params: {status: '3'}, remote: true %>
      <%= button_to '待ち', turn_path(@now.id), method: :put, class: "button", params: {status: '0'}, remote: true %>
      <%= button_to '不在', turn_path(@now.id), method: :put, class: "button", params: {status: '2'}, remote: true %>
  <% else %>
   <div class='now'>番号が表示されるまでお待ちください</div>
  <%end%>
</div>

 <%= link_to '番号を発行する', new_turn_path, class: 'new-btn' %>
 

  <div class='count'>
    <p>お待ち人数<%= @wait_people %>人</p>
    <p>不在人数<%= @absence_people%>人</p>
  </div>
  
  <div class = 'absence'>
    <table>
      <thead>
        <tr>
          <th>不在番号</th>
          <th>名前</th>
        </tr>
      </thead>
      <% @absence.each do |absence|%>
        <tbody>
          <td><%= absence.number%>番</td>
          <td><%= absence.name%>様</td>
          <td><%= button_to '開始', turn_path(absence.id), method: :put, class: "button", params: {status: '1'}, remote: true %>
          <%= button_to '待ち', turn_path(absence.id), method: :put, class: "button", params: {status: '0'}, remote: true %>
          <%= button_to '終了', turn_path(absence.id), method: :put, class: "button", params: {status: '3'}, remote: true %></td>
 
        </tbody>
      <%end%>
    <table>
  </div>

  <div class = 'wait'>
    <table>
      <thead>
        <tr>
          <th>待ち番号</th>
          <th>名前</th>
        </tr>
      </thead>
      <% @wait.each do |wait|%>
        <tbody>
          <td><%= wait.number%>番</td>
          <td><%= wait.name%>様</td>
          <td><%= button_to '開始', turn_path(wait.id), method: :put, class: "button", params: {status: '1'}, remote: true %>
          <%= button_to '不在', turn_path(wait.id), method: :put, class: "button", params: {status: '2'}, remote: true %>
          <%= button_to '終了', turn_path(wait.id), method: :put, class: "button", params: {status: '3'}, remote: true %></td>
        </tbody>
      <%end%>
    </table>
  </div>
