<a>あなたの番号は<%= @turn.number %>番です<a>
  
<div class='main'> 
 <% if @now.present? %>
    <h1>診察中の番号</h1>
    <div class='now'>
      <div class='now-number'>
        <%= @now.number%>
      </div>
      <div class='now-number-child'>
        <span>番</span>
      </div>
  <%end%>
</div>

   
    <%if @wait_people >= 0 %>
    <p>あなたの順番まで、<%= @wait_people %>人待ちです。</p>
    <p>順番が前後することがあります</p>
    <%end%>
    <p>不在人数<%= @absence_people%>人</p>
    <%= link_to 'トップページへ戻る', root_path %>
