<div class='show'>
  <div class='user-num'>
   <%= @turn.name %>様の番号は<%= @turn.number %>番です

    </div>
    <div class='show-num'> 
    <% if @now.present? %>
        <h2>診察中の番号</h2>
        <div class='show-now'>
          <div class='show-number1'>
            <%= @now.number%>
          </div>
          <div class='show-number2'>
            <span>番</span>
          </div>
          
      <% else %>
      <div class='show-now'>番号が表示されるまでお待ちください</div>
      <%end%>
      </div>


    
  </div>
  <div class='right'>
  <div class='right-row'>
  
    <div class='qr'><%= @qr %></div>
    
    <div class='kari2'>
    <%= '読み込むとこのページを開けます'%>
    <%if @wait_people >= 0 %>
    <div class='kari'><%= @turn.name %>様の順番まで、<%= @wait_people %>人待ちです。</div>

    <p>順番が前後することがあります</p>
    <% else %>
   <div class='show-now'>番号が表示されるまでお待ちください</div>
    <%end%>
    <p>不在人数<%= @absence_people%>人</p>
    <%= link_to 'トップページへ戻る', root_path %>
</div>