  <%if @end.present?  %>
    <div class='turn-end'>
      <div class='turn-end-row'> 診察は終了しました</div>
      <p><%= link_to "トップページへ戻る", root_path, class: "toppage" %></p>
    </div>
     
  <%else%>
    <div class='show'>
   
    <div class='user-num'>
    <%= @turn.name %>様の番号は<%= @turn.number %>番です
    </div>
    <div class='show-contents'> 
      <div class="show-num">
        診察中の番号
      </div>

      <% if @now.present? %>
        <div class='show-number'>
          <%= @now.number%>番
        </div>
      <% else %>
        <div class='show-number2'>番号が表示されるまでお待ちください</div>
      <%end%>
    
        <%if @myturn == "診察"%>
          <div class='show-now'>あなたの順番です</div>
        <%elsif @absence.present?%>
         <div class='show-now'>不在でしたので、窓口で確認をしてください</div>
        <%elsif @wait_people >= 0 && @count != 0 %>
        <div class='wait'>
          <%= @turn.name %>様の順番まで、<%= @count %>人待ちです
        </div>
        <p>順番が前後することがあります</p>
        <%else%>
      <div class='show-now'>まもなく順番が参ります</div>
        <%end%>
        <p>不在人数<%= @absence_people%>人</p>
    </div>

    <div class='qr-position'>
      <div class='qr'>
        <%= @qr %>
      </div>
    </div>
    <div class='bottom'>
      <%= '読み込むとこのページを開けます'%>
      <p><%= link_to "トップページへ戻る", root_path, class: "toppage" %></p>
     </div>
   </div>

  <%end%>