<div class="login">
  <div class="login-row">
    <%= form_with model: @user, url: new_user_session_path, local: true do |f| %>
      <h1>ログイン</h1>
      <div class="box-email">
        <%= f.label :email, "Eメール" %><br />
        <%= f.email_field :email,class: 'text-field', autofocus: true, autocomplete: "email" %>
      </div>
      <div class="box-password">
        <div class="a-row">
          <div class="column">
            <%= f.label :password, "パスワード" %>
          </div>
        </div>
        <%= f.password_field :password, class: 'text-field',autocomplete: "current-password" %>
      </div>
      <div class="box-login">
        <%= f.submit "ログイン" ,class: 'submid'%>
        <% if devise_mapping.rememberable? %>
          <div class="remember">
            <%= f.check_box :remember_me %>
            <%= f.label :remember, "ログインしたままにする" %>
          </div>
        <% end %>
      </div>
    <% end %>
    <%= link_to 'トップページへ戻る', root_path, {class:'root_path'} %>
  </div>
</div>